#main{
    display: flex;
    height : 100vh;
    width: 100vw;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/stream-bg.jpeg");
    background-position: 0px 2000px;
}
#logo{
    display: flex;
    max-width: 90%;
    align-items: center;
}
#logodisplay{
    width: 100%;
    src:url("../../assets/images/DocuMintHorizontal.png");
}
@media screen and (max-width: 960px) {
    #main{
        display: flex;
        height : 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 0px 0px;
    }
}
  
@media screen and (max-width: 768px) {
    #main{
        display: flex;
        height : 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 0px 0px;
    }
}