#main{
    display: flex;
    height : 100vh;
    width: 99vw;
    flex-direction:column;
    padding-top: 1rem;
    /* justify-content: center; */
    align-items: center;
    background-image: url("../../assets/images/stream-bg.jpeg");
    /* background-position: 0px 2000px; */
    background-size: cover;
}
#logo{
    display: flex;
    max-width: 90%;
    align-items: center;
}
#logodisplay{
    width: 50vw;
}

body.modal-open {
    /* overflow: hidden; */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  
@media screen and (max-width: 960px) {
    #main{
        display: flex;
        height : 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 0px 0px;
    }
}
  
@media screen and (max-width: 768px) {
    #main{
        display: flex;
        height : 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 0px 0px;
    }
}